<h1>Edit todo</h1>

<form id="edit-todo" name="todo">
  <div class="field">
    <label for="task"> task:</label>
    <input type="text" name="task" id="task" value="<%= task %>" >
  </div>

  <div class="field">
    <label for="done"> done:</label>
    <input type="text" name="done" id="done" value="<%= done %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Todo" />
  </div>

</form>

<a href="#/index">Back</a>
