@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import 'jquery-ui/datepicker.css';

.done_box {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-size: 24px;
}

tbody {
  font-size: 20px;
}